.product:nth-child(6n+1) {
    clear: left;
}
#row{
    padding-left:5px;
    padding-right:5px;
    background-color: #fff;
    border: 1px solid #d0cbcb;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px #e8e8e8;
    min-height: 280px;
}
.images {
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}

/* If you want text inside of the container */
.image1{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
}
.title{
    margin-left: 10px;
    padding-top: 50px;
    min-height: 190px;
}
#paginate{
    clear: both;
    text-align: center;
}
.table_custom tbody tr td{
    border: 1px solid #101010;
    text-align: center;
}

#center_action {
    display: none;
}
#center_action button {
    margin: 10px;
    background-color: unset;
    border: 1px solid #FFF;
    color: #FFF;
}

#center_action i{
    font-size: 30px;
}
#action{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background-color: #000;
}

.product-item-price {
    color: #FF0000;
    padding: 3px 0;
    font-weight: bold;
    font-size: 20px;
}

.product-item-name {
    text-align: center;
    font-size: 16px;
    color: #12b14d;
    text-transform: capitalize;
    padding: 3px 0;
    min-height: 50px;
}

.style-button {
  margin-left: 10px;
}

#center_action{
    top: 47%;
    left: 30%;
    position: absolute;
}

.no_product {
    padding-left: 15px;
}

/* Define column class*/
.status-column {
    width: 170px;
    text-align: center;
}

.status-column .label {
  line-height: 2;
}

.product-container {
    margin-bottom: 20px;
}

#show_modal-delivery .box-footer {
    display: none;
}

.edit_customer {
    float: right;
    margin-top: 2px;
}

.fix-space {
    margin-right: 5px;
}

.delete-button {
    width: 70px;
}

.fix-remaining_rice {
    line-height: 30px;
}