.row-background {
  background: white;
}

.commmon-button {
  font-size: 14px;
}

.button-register {
  padding-bottom: 20px;
}
 
.center-search {
  padding-right: 15px;
}

.width_role {
  width: 50%;
}